extends:
  - plugin:flowtype/recommended
  - standard-react
  - standard
parser: babel-eslint
plugins:
  - flowtype
rules:
  jsx-quotes: [error, prefer-double]
  comma-dangle: [error, always-multiline]
  object-curly-spacing: [error, never]
env:
  jest: true
