{
  "extends": ["cleanjs", "standard", "standard-react"],
  "parser": "babel-eslint",
  "rules": {
    "jsx-quotes": ["error", "prefer-double"],
    "comma-dangle": ["error", "always-multiline"],
    "react/prop-types": "off",
  },
  "env": {
    "jest": true,
  },
  "globals": {
    "__PREFIX_LINKS__": true,
    "__DEV__": true
  }
}
